footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-escuro);
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid var(--azul-claro) 8px;
    color: #fff;
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.logo{
    margin-top: 10px; 
    align-items: space-around;
}
.nav-ft{
    display: flex;
    align-items: space-around;
    list-style: none;
    margin-top: 10px;
    gap: 60px;
    text-align: space-around;
    
}
.nav-ft li{
    transition: 0.5s;

}
.nav-ft a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-ft li:hover{
    transform:scale(1.1);
    text-decoration: underline;
    text-shadow: 0px 0px 3px #fff;
    
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer p{
    text-align: center;
}
.creditos{
    line-height: 25px ;
}
.creditos a{
    text-decoration: none;
}
