footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-escuro);
    padding: 50px 0;
    border-top: solid var(--azul-claro) 3px;
    color: #fff;
    text-align: center;
}
.nav-ft{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 20px 0;
    gap: 60px;
    text-align: center;
}
.nav-ft li{
    transition: 0.5s;

}
.nav-ft a{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.nav-ft li:hover{
    transform: translateY(-5px);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 40px 0;
}
.footer p{
    text-align: center;
}