@font-face {
    font-family: Happy;
    src: url(../fontes/Happy\ School.otf);
}
header{
    padding: 30px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: Happy;
}
.nav{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}
.nav-item{
    text-decoration: none;
    color: black;
}
