@font-face {
    font-family: Happy;
    src: url(../font/Happy\ School.otf);
}
.logo{
 font-family: Happy ,Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-item{
    text-decoration: none;
    color: black;
}