.hamburger{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 35px;
    cursor: pointer;
    justify-content: space-between;
    display: none;
}
.barra{
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 20px;
}
@media(max-width:600px){
    .hamburger{
        display: flex;
    }
    .barra{
        background-color: black;
        z-index: 2;
        transition: .5s;
    }
    .nav{
        position: fixed;
        inset: 0;
        flex-direction: column;
        transform: scaleX(0);
        justify-content: center;
        background-color: black;
        width: 100vw;
        height: 100vh;
    }
    .nav-act{
        transition: 0.5s;
        transform-origin: center;
        transform: scaleX(1);
    }
    .menu-act{
      animation: rodar 1s ;
    }
    .menu-act> .barra{
      background-color: #fff;
    }
    .menu-act> #barra1{
        transform: rotate(45deg) translatey(20px);
    }
    .menu-act> #barra2{
        display: none;
    }
    .menu-act> #barra3{
        transform: rotate(-45deg) translatey(-20px);
    }
    .nav-item{
        color: #fff;
        font-size: 40px;
    }
}
@keyframes rodar{
    from{
        transform: rotate(0deg);
    }
 
     to{
        transform: rotate(360deg);
     }
        
    }
