header{
    background-color: var(--azul);
    border-bottom: 1em rgb(0, 0, 0);

}

.nav{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}
.nav-item{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 770;
    position: relative;
    transition: .5s;
    text-shadow: 0px 2px 4px var(--azul-escuro); 
}
.nav-item:hover{
    text-shadow: 0px 0px 3px #fff;
}
.nav li ::after{
   content:"";
   width: 100%;
   height: 2px;
   background-color: #fff;
   box-shadow: 0px 0px 2px #fff;
   position: absolute;
   top: 100%;
   left: 0%;
   transition: .5s;
   transform-origin:left;
   transform: scaleX(0);
}
.nav li :hover::after{
    transform: scaleX(1);
}
.hamburger{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 35px;
    cursor: pointer;
    justify-content: space-between;
    display: none;
}
.barra{
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 20px;
}
@media(max-width:850px){
    .body-act{
        overflow: hidden;
    }
    .hamburger{
        display: flex;
    }
    .barra{
        background-color: #fff;
        transition: 1s;
        box-shadow: 0px 0px 3px black;
    }
    .nav{
        position: fixed;
        inset: 0;
        flex-direction: column;
        transform: scaleX(0);
        justify-content: center;
        background-color: black;
        width: 100vw;
        height: 100vh;
    }
    .nav-act{
        transition: 0.5s;
        transform-origin: center;
        transform: scaleX(1);
    }
    .menu-act{
      animation: rodar 0.8s linear;
      z-index: 2;
    }
    .menu-act> .barra{
      background-color: #fff;
    }
    .menu-act> #barra1{
        transform: rotate(45deg) translatey(20px);
    }
    .menu-act> #barra2{
        display: none;
    }
    .menu-act> #barra3{
        transform: rotate(-45deg) translatey(-20px);
    }
    .nav-item{
        color: #fff;
        font-size: 40px;
    }
}
@keyframes rodar{
    from{
        transform: rotate(0deg);
    }
 
     to{
        transform: rotate(360deg);
     }
        
    }
    
    
    