

@media(max-width:950px){
    *{margin: 0; padding: 0;}
    #apresentacao main{
        flex-direction: column;
        min-height: 900px;
    }
    #apresentacao{
        height: auto;
        max-height: none;
    }
    section.part2{
        background-image: url(../image/slide1.jpg);
    }
    .nav-ft,.footer{
        flex-direction: column;
    }
    .footer p{
        margin: 10px 0;
    }
    div.buttons>a {
      font-size: large;
    }
    #apresentacao header{
        justify-content: space-around;
        padding: 30px 0;
    }
}
@media(max-width:550px){
    #apresentacao>header{
        padding: 30px 0;
    }
}
