@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-image: linear-gradient(45deg,
    #FFB6B0,#6A61A4,#2D3774,#0B1F5A);
    color: #fff;
}
.link{   position: absolute;
    top: 30px;
    left: 30px;
}
.home{
    width: 50px;
    margin-bottom: 70px;
}
header{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto_principal{
    position: relative;
    width: fit-content;
    text-shadow: 0 0 5px black;
}
.texto_principal h1{
    font-size: 100px;
    font-family: Lobster,Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.texto_principal p{
    font-family: Lobster,Arial, Helvetica, sans-serif;
    font-size: x-large;
    position: absolute;
    top: -5px;
    left: 10%;
    font-weight: bolder;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card div{
    background-color: #c9c9c92f;
    position: relative;
    border: solid 2px;
    border-radius: 20px;
    width: 250px;
    max-width: 90vw;
    min-height: 300px;
    margin: 10px 0;
    text-align: center;
    text-shadow: 0 0 2px black ;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 8px rgba(13, 6, 36, 0.5);
    transition: 2s;
    z-index: 0;
    margin-bottom: 50px;
    

}
.card1:hover{
    transform: scale(1.13);
    transition: 2s;
    z-index: 1;
}
.card2:hover{
    transform: scale(1.13);
    transition: 2s;
    z-index: 1;
}
.card3:hover{
    transform: scale(1.13);
    transition: 2s;
    z-index: 1;
}






.card h1{
    padding: 10px 0;
    font-family: Lobster,Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-bottom: 18px;
}
.card p{
    max-width: 80%;
    font-size: 15px;
}
@keyframes Rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media(min-width:900px){
     main{
        max-width: 80%;
        margin: auto;
     }
}
@media(max-width:900px){
    main{
        flex-direction: column;
    }
}
@media(max-width:500px){
      .texto_principal {
        display: none;
       }
      .link{
        transform: translate(-50%,-50%);
        top: 60px;
        left: 50vw;
      }
      .home{
        margin-top: 50px;
      }
}