@font-face {
    font-family: Happy;
    src: url(../fontes/Happy\ School.otf);
}
@font-face {
    font-family: Hanging-l;
    src: url(../fontes/Hanging\ Lights\ Demo.otf);
}
#apresentacao{
    min-height: 100vh;
    background-image:linear-gradient(var(--azul-claro), rgb(226, 247, 247));
}
#apresentacao header{
    padding: 30px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom: 8px solid #5c9cac;
    box-shadow: 0px 2px 5px #4d808dad;
}
.boneca{
    max-width: 95vw;
}
.logo{
    font-family: Happy;
    font-size: 2em;
    text-shadow: 0px 2px 4px var(--azul-escuro);
    color: white;
    cursor:default;
}


#apresent{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;

}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    width: 800px;
}
#apresent h1{
    font-weight: 700;
    font-size: 40px;
    color: var(--azul-escuro);
    font-style: italic;
}
.negrito{
    color: var(--azul);
    text-decoration: underline;
    text-shadow: 2px 2px 0px var(--azul-escuro);
    font-weight: 800;
    
}
#apresent h2{
    font-size: 22px;
    color:var(--azul-escuro);
    font-weight: 600;
    font-style: italic;
}
#apresent p{
    margin-top: 15px;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-weight: 500;
    color:var(--azul-escuro);
    max-width: 400px;
}
#apresentacao main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#contact{
    margin-top: 30px;
    padding: 15px;
    background-color: var(--azul-escuro);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    border: solid white;
    border-width: 2px;
    box-shadow: 0px 0px 3px white;
    transition: .3s;
    font-weight: 700;
}
#contact:hover{
    text-shadow: 0px 0px 2px var(--azul-claro);
    background-color: white;
    color:var(--azul-escuro);
    box-shadow: 0px 0px 3px var(--azul-escuro);
    border: solid var(--azul-escuro);
    border-width: 2px;
    transition: .3s;
    transform: scale(1.07);
}

@keyframes Float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0);
    }
}