body{
  background-color: #c8eee8;
}
main{
  background-image: url(../image/backgroundAbout.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header{
  padding: 30px 5vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom: 8px solid #5c9cac;
  box-shadow: 0px 2px 5px #4d808dad;
}
.card{
  text-align: center;
  margin-bottom: 50px;
  background-color: #ffffff7e;
  border-radius: 20px;  
  width: 650px;
  max-width: 90vw;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(53, 53, 53, 0.5) 0px 10px 2px;
}
.card h1{
  margin-bottom: 20px;
}
.card p{
  max-width: 90%;
  line-height: 1.5em;
}
.home-bt{
  position: absolute;
    top: 30px;
    left: 30px;
}
  @media(max-width:900px){
    body{
      background-image: url(../image/polotno.jpeg);
      background-size: cover;
    }
    .card{
      margin-top: 70px;
    }
  }